body {
background-color: #000000;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: #FFFFFF;
text-align: center;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: #570008;
}
.assign img {
width: 200px;
padding: 10px;
}
